.rotateChampArea{
    background-image: url('../img/champion.png');
    background-repeat: no-repeat;
    display: block;
}
.bnrCont{width: 100%; text-align: center;}

.bnr{width : 496px; height : 164px; display: inline-block; margin-top: 50px;}
.champImg{display:inline-block;background-color:#fff;vertical-align:top;}

.bnr .champImg:nth-child(1),
.bnr .champImg:nth-child(2),
.bnr .champImg:nth-child(3),
.bnr .champImg:nth-child(4){margin-top:0;}
.bnr .champImg:nth-child(4n+1){margin-left:0;}

.champImg{
    width: 82px;
    height: 82px;
}

.champImg2{
    width : 82px;
    height : 82px;
}

.champImg.i266{background-position: 0 -0px;}
.champImg.i103{background-position: 0 -82px;}
.champImg.i84{background-position: 0 -164px;}
.champImg.i12{background-position: 0 -246px;}
.champImg.i32{background-position: 0 -328px;}
.champImg.i34{background-position: 0 -410px;}
.champImg.i1{background-position: 0 -492px;}
.champImg.i523{background-position: 0 -574px;}
.champImg.i22{background-position: 0 -656px;}
.champImg.i136{background-position: 0 -738px;}
.champImg.i268{background-position: 0 -820px;}
.champImg.i432{background-position: 0 -902px;}
.champImg.i53{background-position: 0 -984px;}
.champImg.i63{background-position: 0 -1066px;}
.champImg.i201{background-position: 0 -1148px;}
.champImg.i51{background-position: 0 -1230px;}
.champImg.i164{background-position: 0 -1312px;}
.champImg.i69{background-position: 0 -1394px;}
.champImg.i31{background-position: 0 -1476px;}
.champImg.i42{background-position: 0 -1558px;}
.champImg.i122{background-position: 0 -1640px;}
.champImg.i131{background-position: 0 -1722px;}
.champImg.i119{background-position: 0 -1804px;}
.champImg.i36{background-position: 0 -1886px;}
.champImg.i245{background-position: 0 -1968px;}
.champImg.i60{background-position: 0 -2050px;}
.champImg.i28{background-position: 0 -2132px;}
.champImg.i81{background-position: 0 -2214px;}
.champImg.i9{background-position: 0 -2296px;}
.champImg.i114{background-position: 0 -2378px;}
.champImg.i105{background-position: 0 -2460px;}
.champImg.i3{background-position: 0 -2542px;}
.champImg.i41{background-position: 0 -2624px;}
.champImg.i86{background-position: 0 -2706px;}
.champImg.i150{background-position: 0 -2788px;}
.champImg.i79{background-position: 0 -2870px;}
.champImg.i104{background-position: 0 -2952px;}
.champImg.i120{background-position: 0 -3034px;}
.champImg.i74{background-position: 0 -3116px;}
.champImg.i420{background-position: 0 -3198px;}
.champImg.i39{background-position: 0 -3280px;}
.champImg.i427{background-position: 0 -3362px;}
.champImg.i40{background-position: 0 -3444px;}
.champImg.i59{background-position: 0 -3526px;}
.champImg.i24{background-position: 0 -3608px;}
.champImg.i126{background-position: 0 -3690px;}
.champImg.i202{background-position: 0 -3772px;}
.champImg.i222{background-position: 0 -3854px;}
.champImg.i145{background-position: 0 -3936px;}
.champImg.i429{background-position: 0 -4018px;}
.champImg.i43{background-position: 0 -4100px;}
.champImg.i30{background-position: 0 -4182px;}
.champImg.i38{background-position: 0 -4264px;}
.champImg.i55{background-position: 0 -4346px;}
.champImg.i10{background-position: 0 -4428px;}
.champImg.i141{background-position: 0 -4510px;}
.champImg.i85{background-position: 0 -4592px;}
.champImg.i121{background-position: 0 -4674px;}
.champImg.i203{background-position: 0 -4756px;}
.champImg.i240{background-position: 0 -4838px;}
.champImg.i96{background-position: 0 -4920px;}
.champImg.i7{background-position: 0 -5002px;}
.champImg.i64{background-position: 0 -5084px;}
.champImg.i89{background-position: 0 -5166px;}
.champImg.i127{background-position: 0 -5248px;}
.champImg.i236{background-position: 0 -5330px;}
.champImg.i117{background-position: 0 -5412px;}
.champImg.i99{background-position: 0 -5494px;}
.champImg.i54{background-position: 0 -5576px;}
.champImg.i90{background-position: 0 -5658px;}
.champImg.i57{background-position: 0 -5740px;}
.champImg.i11{background-position: 0 -5822px;}
.champImg.i21{background-position: 0 -5904px;}
.champImg.i62{background-position: 0 -5986px;}
.champImg.i82{background-position: 0 -6068px;}
.champImg.i25{background-position: 0 -6150px;}
.champImg.i267{background-position: 0 -6232px;}
.champImg.i75{background-position: 0 -6314px;}
.champImg.i111{background-position: 0 -6396px;}
.champImg.i518{background-position: 0 -6478px;}
.champImg.i76{background-position: 0 -6560px;}
.champImg.i56{background-position: 0 -6642px;}
.champImg.i20{background-position: 0 -6724px;}
.champImg.i2{background-position: 0 -6806px;}
.champImg.i61{background-position: 0 -6888px;}
.champImg.i516{background-position: 0 -6970px;}
.champImg.i80{background-position: 0 -7052px;}
.champImg.i78{background-position: 0 -7134px;}
.champImg.i555{background-position: 0 -7216px;}
.champImg.i246{background-position: 0 -7298px;}
.champImg.i133{background-position: 0 -7380px;}
.champImg.i497{background-position: 0 -7462px;}
.champImg.i33{background-position: 0 -7544px;}
.champImg.i421{background-position: 0 -7626px;}
.champImg.i58{background-position: 0 -7708px;}
.champImg.i107{background-position: 0 -7790px;}
.champImg.i92{background-position: 0 -7872px;}
.champImg.i68{background-position: 0 -7954px;}
.champImg.i13{background-position: 0 -8036px;}
.champImg.i113{background-position: 0 -8118px;}
.champImg.i235{background-position: 0 -8200px;}
.champImg.i875{background-position: 0 -8282px;}
.champImg.i35{background-position: 0 -8364px;}
.champImg.i98{background-position: 0 -8446px;}
.champImg.i102{background-position: 0 -8528px;}
.champImg.i27{background-position: 0 -8610px;}
.champImg.i14{background-position: 0 -8692px;}
.champImg.i15{background-position: 0 -8774px;}
.champImg.i72{background-position: 0 -8856px;}
.champImg.i37{background-position: 0 -8938px;}
.champImg.i16{background-position: 0 -9020px;}
.champImg.i50{background-position: 0 -9102px;}
.champImg.i517{background-position: 0 -9184px;}
.champImg.i134{background-position: 0 -9266px;}
.champImg.i223{background-position: 0 -9348px;}
.champImg.i163{background-position: 0 -9430px;}
.champImg.i91{background-position: 0 -9512px;}
.champImg.i44{background-position: 0 -9594px;}
.champImg.i17{background-position: 0 -9676px;}
.champImg.i412{background-position: 0 -9758px;}
.champImg.i18{background-position: 0 -9840px;}
.champImg.i48{background-position: 0 -9922px;}
.champImg.i23{background-position: 0 -10004px;}
.champImg.i4{background-position: 0 -10086px;}
.champImg.i29{background-position: 0 -10168px;}
.champImg.i77{background-position: 0 -10250px;}
.champImg.i6{background-position: 0 -10332px;}
.champImg.i110{background-position: 0 -10414px;}
.champImg.i67{background-position: 0 -10496px;}
.champImg.i45{background-position: 0 -10578px;}
.champImg.i161{background-position: 0 -10660px;}
.champImg.i254{background-position: 0 -10742px;}
.champImg.i112{background-position: 0 -10824px;}
.champImg.i8{background-position: 0 -10906px;}
.champImg.i106{background-position: 0 -10988px;}
.champImg.i19{background-position: 0 -11070px;}
.champImg.i498{background-position: 0 -11152px;}
.champImg.i101{background-position: 0 -11234px;}
.champImg.i5{background-position: 0 -11316px;}
.champImg.i157{background-position: 0 -11398px;}
.champImg.i83{background-position: 0 -11480px;}
.champImg.i350{background-position: 0 -11562px;}
.champImg.i154{background-position: 0 -11644px;}
.champImg.i238{background-position: 0 -11726px;}
.champImg.i115{background-position: 0 -11808px;}
.champImg.i26{background-position: 0 -11890px;}
.champImg.i142{background-position: 0 -11972px;}
.champImg.i143{background-position: 0 -12054px;}

.champImg2.i266{background-position: -5px -5px;}
.champImg2.i103{background-position: -5px -87px;}
.champImg2.i84{background-position: -5px -169px;}
.champImg2.i12{background-position: -5px -251px;}
.champImg2.i32{background-position: -5px -333px;}
.champImg2.i34{background-position: -5px -415px;}
.champImg2.i1{background-position: -5px -497px;}
.champImg2.i523{background-position: -5px -579px;}
.champImg2.i22{background-position: -5px -661px;}
.champImg2.i136{background-position: -5px -743px;}
.champImg2.i268{background-position: -5px -825px;}
.champImg2.i432{background-position: -5px -907px;}
.champImg2.i53{background-position: -5px -989px;}
.champImg2.i63{background-position: -5px -1071px;}
.champImg2.i201{background-position: -5px -1153px;}
.champImg2.i51{background-position: -5px -1235px;}
.champImg2.i164{background-position: -5px -1317px;}
.champImg2.i69{background-position: -5px -1399px;}
.champImg2.i31{background-position: -5px -1481px;}
.champImg2.i42{background-position: -5px -1563px;}
.champImg2.i122{background-position: -5px -1645px;}
.champImg2.i131{background-position: -5px -1727px;}
.champImg2.i119{background-position: -5px -1809px;}
.champImg2.i36{background-position: -5px -1891px;}
.champImg2.i245{background-position: -5px -1973px;}
.champImg2.i60{background-position: -5px -2055px;}
.champImg2.i28{background-position: -5px -2137px;}
.champImg2.i81{background-position: -5px -2219px;}
.champImg2.i9{background-position: -5px -2301px;}
.champImg2.i114{background-position: -5px -2383px;}
.champImg2.i105{background-position: -5px -2465px;}
.champImg2.i3{background-position: -5px -2547px;}
.champImg2.i41{background-position: -5px -2629px;}
.champImg2.i86{background-position: -5px -2711px;}
.champImg2.i150{background-position: -5px -2793px;}
.champImg2.i79{background-position: -5px -2875px;}
.champImg2.i104{background-position: -5px -2957px;}
.champImg2.i120{background-position: -5px -3039px;}
.champImg2.i74{background-position: -5px -3121px;}
.champImg2.i420{background-position: -5px -3203px;}
.champImg2.i39{background-position: -5px -3285px;}
.champImg2.i427{background-position: -5px -3367px;}
.champImg2.i40{background-position: -5px -3449px;}
.champImg2.i59{background-position: -5px -3531px;}
.champImg2.i24{background-position: -5px -3613px;}
.champImg2.i126{background-position: -5px -3695px;}
.champImg2.i202{background-position: -5px -3777px;}
.champImg2.i222{background-position: -5px -3859px;}
.champImg2.i145{background-position: -5px -3941px;}
.champImg2.i429{background-position: -5px -4023px;}
.champImg2.i43{background-position: -5px -4105px;}
.champImg2.i30{background-position: -5px -4187px;}
.champImg2.i38{background-position: -5px -4269px;}
.champImg2.i55{background-position: -5px -4351px;}
.champImg2.i10{background-position: -5px -4433px;}
.champImg2.i141{background-position: -5px -4515px;}
.champImg2.i85{background-position: -5px -4597px;}
.champImg2.i121{background-position: -5px -4679px;}
.champImg2.i203{background-position: -5px -4761px;}
.champImg2.i240{background-position: -5px -4843px;}
.champImg2.i96{background-position: -5px -4925px;}
.champImg2.i7{background-position: -5px -5007px;}
.champImg2.i64{background-position: -5px -5089px;}
.champImg2.i89{background-position: -5px -5171px;}
.champImg2.i127{background-position: -5px -5253px;}
.champImg2.i236{background-position: -5px -5335px;}
.champImg2.i117{background-position: -5px -5417px;}
.champImg2.i99{background-position: -5px -5499px;}
.champImg2.i54{background-position: -5px -5581px;}
.champImg2.i90{background-position: -5px -5663px;}
.champImg2.i57{background-position: -5px -5745px;}
.champImg2.i11{background-position: -5px -5827px;}
.champImg2.i21{background-position: -5px -5909px;}
.champImg2.i62{background-position: -5px -5991px;}
.champImg2.i82{background-position: -5px -6073px;}
.champImg2.i25{background-position: -5px -6155px;}
.champImg2.i267{background-position: -5px -6237px;}
.champImg2.i75{background-position: -5px -6319px;}
.champImg2.i111{background-position: -5px -6401px;}
.champImg2.i518{background-position: -5px -6483px;}
.champImg2.i76{background-position: -5px -6565px;}
.champImg2.i56{background-position: -5px -6647px;}
.champImg2.i20{background-position: -5px -6729px;}
.champImg2.i2{background-position: -5px -6811px;}
.champImg2.i61{background-position: -5px -6893px;}
.champImg2.i516{background-position: -5px -6975px;}
.champImg2.i80{background-position: -5px -7057px;}
.champImg2.i78{background-position: -5px -7139px;}
.champImg2.i555{background-position: -5px -7221px;}
.champImg2.i246{background-position: -5px -7308px;}
.champImg2.i133{background-position: -5px -7385px;}
.champImg2.i497{background-position: -5px -7467px;}
.champImg2.i33{background-position: -5px -7549px;}
.champImg2.i421{background-position: -5px -7631px;}
.champImg2.i58{background-position: -5px -7713px;}
.champImg2.i107{background-position: -5px -7795px;}
.champImg2.i92{background-position: -5px -7877px;}
.champImg2.i68{background-position: -5px -7959px;}
.champImg2.i13{background-position: -5px -8041px;}
.champImg2.i113{background-position: -5px -8123px;}
.champImg2.i235{background-position: -5px -8205px;}
.champImg2.i875{background-position: -5px -8287px;}
.champImg2.i35{background-position: -5px -8369px;}
.champImg2.i98{background-position: -5px -8451px;}
.champImg2.i102{background-position: -5px -8533px;}
.champImg2.i27{background-position: -5px -8615px;}
.champImg2.i14{background-position: -5px -8697px;}
.champImg2.i15{background-position: -5px -8779px;}
.champImg2.i72{background-position: -5px -8861px;}
.champImg2.i37{background-position: -5px -8943px;}
.champImg2.i16{background-position: -5px -9025px;}
.champImg2.i50{background-position: -5px -9107px;}
.champImg2.i517{background-position: -5px -9189px;}
.champImg2.i134{background-position: -5px -9271px;}
.champImg2.i223{background-position: -5px -9353px;}
.champImg2.i163{background-position: -5px -9435px;}
.champImg2.i91{background-position: -5px -9517px;}
.champImg2.i44{background-position: -5px -9599px;}
.champImg2.i17{background-position: -5px -9681px;}
.champImg2.i412{background-position: -5px -9763px;}
.champImg2.i18{background-position: -5px -9845px;}
.champImg2.i48{background-position: -5px -9927px;}
.champImg2.i23{background-position: -5px -10009px;}
.champImg2.i4{background-position: -5px -10091px;}
.champImg2.i29{background-position: -5px -10173px;}
.champImg2.i77{background-position: -5px -10255px;}
.champImg2.i6{background-position: -5px -10337px;}
.champImg2.i110{background-position: -5px -10419px;}
.champImg2.i67{background-position: -5px -10501px;}
.champImg2.i45{background-position: -5px -10583px;}
.champImg2.i161{background-position: -5px -10665px;}
.champImg2.i254{background-position: -5px -10747px;}
.champImg2.i112{background-position: -5px -10829px;}
.champImg2.i8{background-position: -5px -10911px;}
.champImg2.i106{background-position: -5px -10993px;}
.champImg2.i19{background-position: -5px -11075px;}
.champImg2.i498{background-position: -5px -11157px;}
.champImg2.i101{background-position: -5px -11239px;}
.champImg2.i5{background-position: -5px -11321px;}
.champImg2.i157{background-position: -5px -11403px;}
.champImg2.i83{background-position: -5px -11485px;}
.champImg2.i350{background-position: -5px -11567px;}
.champImg2.i154{background-position: -5px -11649px;}
.champImg2.i238{background-position: -5px -11731px;}
.champImg2.i115{background-position: -5px -11813px;}
.champImg2.i26{background-position: -5px -11895px;}
.champImg2.i142{background-position: -5px -11977px;}
.champImg2.i143{background-position: -5px -12059px;}
